/*Imported fonts - Lato & Russo One */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* Shared stylings */

body {
    margin: 0;
}

/* Header stylings */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.header-image {
    height: auto;
    width: 340px;
}

/* Section 1 stylings */

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 40px 300px;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    margin: 0;
}

.section-1-para {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #6b6b6b;
}

.section-1-bt {
    background-color: #66101f;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
}

.section-1-image {
    height: auto;
    width: 640px;
    margin-left: 100px;
}

/* Section 2 stylings */

.section-2 {
    padding: 40px 0 100px;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
    text-align: center;
    margin:0 0 30px;
}

.section-2-image {
    height: auto;
    width: 250px;
    border-radius: 10px;
}

.section-2-para {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #66101f;
}

.section-2-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section-2-container div {
    text-align: center;
}

/* Section 3 stylings */

.section-3 {
    background-color: #eeeeee;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
}

.section-3-para {
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.section-3-name {
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 900;
    align-self: flex-end;
    margin: 25px 0 0;
}